@model List<PatientNet.Models.Patient>


<table class="table">
    <tr>
		<td>
			<h1 class="row">
				PATIENTS LIST
			</h1>
		</td>
		<td> 
			<form asp-action="Index" method="post">
				<input type="text"  value="" name="search" style="align-content:right;" />
				<input type="submit" value="Search" class="btn btn-dark" />
			</form>
		</td>
	</tr>
</table>

<a class="btn btn-primary" asp-action="Add">Add a new patient</a>

<table class="table">
	<thead>
		<tr>
			<th>
				Name
			</th>
			<th>
				Age (years)
			</th>
			<th>
				Gender
			</th>
			<th>
				Birthdate
			</th>
			<th>
			</th>
			<th>
			</th>
			<th>
			</th>
		</tr>
	</thead>
	<tbody>
		
			@foreach (var patient in Model)
			{
				<tr>
					<td>@Html.DisplayFor(m => patient.Name)</td>
					<td>@Html.DisplayFor(m => patient.Age)</td>
					<td>@Html.DisplayFor(m => patient.Sex)</td>
					<td>@Html.DisplayFor(m => patient.Birthdate)</td>
				<td><form asp-action="NewConsult" method="post"> <input type="text" name="name" value="@patient.Name" hidden /><input type="submit" class="btn btn-success shadow" value="New consult" /></form></td>
				<td><form asp-action="PatientHistory" method="post"> <input type="text" name="id" value="@patient.PatientId" hidden /> <input type="submit" class="btn btn-warning shadow" value="See history" /></form></td>
					<td><a href="#" class="btn btn-danger shadow">Delete patient</a></td>
				</tr>
			}
		
	</tbody>
</table>
